.App {
  text-align: center;
}

nav {
  background-color: orangered;
  padding: 20px;
  margin-bottom: 15px;
}

nav a {
  margin: 5px;
  font-weight: bold;
  color: aliceblue;
  font-size: small;
  text-decoration-line: none;
}

.active {
  font-size: larger;
}
